<div class="mt-4 w-full mx-auto flex justify-between items-center p-5 sm:p-3 bg-[#23222a]">
  <p class="ml-1.5 text-3xl opacity-80 text-gray-300 font-semibold">{{ truncut() }}</p>
  <span (click)="copyPassword()"
    class="flex cursor-pointer opacity-60 text-[#aaefb4] text-xl">
      @if ( !copySuccess ) {
        <i class="far fa-copy"></i>
      } @else {
        <span class="flex items-center">
          <p class="mr-2 text-md">Copié</p>
          <i class="fa-solid fa-check"></i>
        </span>

      }
    </span>
</div>
