@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'cusomFont';
  src: url('assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
